<div class="h-screen bg-gradient-to-r from-indigo-500 via-purple-500 to-purple-500 pt-56">
  <div class="mx-auto my-auto h-fit w-fit rounded-3xl bg-black p-10 shadow-xl">
    <div class="mb-5 flex">
      <h1 class="text-3xl font-semibold text-white">Top Creator</h1>
      <a class="ml-auto font-semibold text-white underline">View All</a>
    </div>
    <div class="flex space-x-3">
      <div class="h-48 w-48 rounded-full bg-gradient-to-r from-indigo-500 via-purple-500 to-green-500">
        <img src="https://media.istockphoto.com/photos/happy-man-with-black-skin-relaxing-in-a-park-picture-id1394241510?b=1&k=20&m=1394241510&s=170667a&w=0&h=U9GiWVSJ683USLY4KxzRVdDB7ZSARrZgVuxAJ6fC4Kc=" class="-m-1 h-48 w-48 rounded-full object-cover" />
      </div>

      <div class="h-48 w-48 rounded-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500">
        <img src="https://i.pinimg.com/474x/98/51/1e/98511ee98a1930b8938e42caf0904d2d.jpg" class="-m-1 h-48 w-48 rounded-full object-cover" />
      </div>

      <div class="h-48 w-48 rounded-full bg-gradient-to-r from-indigo-500 via-purple-500 to-lime-700">
        <img src="https://media.istockphoto.com/photos/young-smiling-athlete-in-public-park-picture-id1368477551?b=1&k=20&m=1368477551&s=170667a&w=0&h=_WWd_KvLj4ogOX6SXVxmnoWdCrhrE6kU14ZTHd5I0o4=" class="-m-1 h-48 w-48 rounded-full object-cover" />
      </div>

      <div class="h-48 w-48 rounded-full bg-gradient-to-r from-blue-500 via-purple-500 to-indigo-500">
        <img src="https://media.istockphoto.com/photos/studio-portrait-of-attractive-20-year-old-bearded-man-picture-id1351147752?b=1&k=20&m=1351147752&s=170667a&w=0&h=txEdYegsKceJkltlTnz0hVdaX6wjlDL_vWAjEC_a6Ys=" class="-m-1 h-48 w-48 rounded-full object-cover" />
      </div>
    </div>
  </div>
</div>
